<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='flot/jquery.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='flot/jquery.flot.js') }}"></script>
    <style type="text/css">
        body {
            background: antiquewhite !important;
            padding: 30px;
        }
    </style>
</head>
<body>


<div class="container-fluid" style="margin-top:50px">
    <div class="row">
        <div class="col-md-3">
            <div class="panel panel-default" style="margin-top: 80px">
                <div class="panel-heading">
                    <div class="radio">
                        <label>
                            <input id="manual" type="radio" name="manual" checked>Manually setting worker pool
                        </label>
                    </div>
                </div>
                <div class="panel-body">
                    <label for="sel1">Number of worker to create:</label>
                    <form class="form-inline" role="form" action="{{ url_for('ec2_create') }}" method="post">
                        <div class="form-group">
                            <select class="form-control" id="sel1" name="num-new"
                                    style="width: 200px;margin-right: 5px">
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <input id="createWorker" type="submit" class="btn btn-primary" value="Create">
                        </div>
                    </form>
                    <hr>
                    <label for="sel2">Number of worker to destroy(randomly):</label>
                    <form class="form-inline" role="form" action="{{ url_for('ec2_destroy') }}" method="post">
                        <div class="form-group">
                            <select class="form-control" id="sel2" name="num-del"
                                    style="width: 200px;margin-right: 5px">
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <input id="destroyWorker" type="submit" class="btn btn-warning" value="Destroy">
                        </div>
                    </form>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="radio">
                        <label><input id="auto" type="radio" name="auto">Auto-scaling the worker pool</label>
                    </div>
                </div>
                <div class="panel-body">
                    <form class="form-inline">
                        <div class="form-group">
                            <label for="auto1">CPU threshold for growing worker pool:</label>
                            <select class="form-control" id="auto1" name="cpu-grow" disabled>
                                <option value="90">90%</option>
                                <option value="80">80%</option>
                                <option value="70">70%</option>
                                <option value="60">60%</option>
                                <option value="50">50%</option>
                                <option value="40">40%</option>
                                <option value="30">30%</option>
                                <option value="20">20%</option>
                            </select>
                        </div>
                    </form>
                    <form class="form-inline" style="margin-top: 5px">
                        <div class="form-group">
                            <label for="auto2">CPU threshold for shrinking worker pool:</label>
                            <select class="form-control" id="auto2" name="cpu-shrink" disabled>
                                <option value="5">5%</option>
                                <option value="10">10%</option>
                                <option value="15">15%</option>
                                <option value="20">20%</option>
                                <option value="25">25%</option>
                                <option value="30">30%</option>
                                <option value="35">35%</option>
                                <option value="40">40%</option>
                                <option value="45">45%</option>
                            </select>
                        </div>
                    </form>
                    <form class="form-inline" style="margin-top: 5px">
                        <div class="form-group">
                            <label for="auto3">Ratio by which to expand the worker pool:</label>
                            <select class="form-control" id="auto3" name="ratio-expand" disabled>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                            </select>
                        </div>
                    </form>
                    <form class="form-inline" style="margin-top: 5px">
                        <div class="form-group">
                            <label for="auto4">Ratio by which to shrink the worker pool:</label>
                            <select class="form-control" id="auto4" name="ratio-shrink" disabled>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                            </select>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            {% for i in range(cpu_stats|length) %}
                <div id="cpu_plot{{ i }}" class="col-md-6" style="height:250px;"></div>
            {% endfor %}
        </div>
    </div>
</div>
<script>

    var options = {
        series: {
            lines: {show: true},
            points: {show: true}
        }
    };

    for (var i = 0; i < {{ cpu_stats|length }}; i++) {
        $.plot($("#cpu_plot" + i), [{{ cpu_stats }}[i]], options);
    }

</script>
<script src="{{ url_for('static',filename='admin.js') }}"></script>
</body>
</html>