<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='flot/jquery.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='flot/jquery.flot.js') }}"></script>
    <link rel="icon" href="{{ url_for('static',filename='favicon.png') }}">
    <style type="text/css">
        body {
            background: antiquewhite !important;
        }
    </style>
</head>
<body>


<div class="container" style="margin-top: 30px;">
    <div class="row">
        <div class="col-lg-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="radio">
                        <label>
                            <input id="manual" type="radio" name="manual" checked>Manually setting worker pool
                        </label>
                    </div>
                </div>
                <div class="panel-body">
                    <label for="sel1">Number of worker to create:</label>
                    <form class="form-inline" role="form" action="{{ url_for('ec2_create') }}" method="post">
                        <div class="form-group">
                            <select class="form-control" id="sel1" name="num-new"
                                    style="width: 200px;margin-right: 5px">
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <input id="createWorker" type="submit" class="btn btn-primary" value="Create">
                        </div>
                    </form>
                    <hr>
                    <label for="sel2">Number of worker to destroy(randomly):</label>
                    <form class="form-inline" role="form" action="{{ url_for('ec2_destroy') }}" method="post">
                        <div class="form-group">
                            <select class="form-control" id="sel2" name="num-del"
                                    style="width: 200px;margin-right: 5px">
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <input id="destroyWorker" type="submit" class="btn btn-info" value="Destroy">
                        </div>
                    </form>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="radio">
                        <label><input id="auto" type="radio" name="auto">Auto-scaling the worker pool</label>
                    </div>
                </div>
                <div class="panel-body">
                    <form class="form-inline">
                        <div class="form-group">
                            <label for="auto1">CPU threshold growing worker pool:</label>
                            <select class="form-control" id="auto1" name="cpu-grow" disabled>
                                <option value="90">90%</option>
                                <option value="80">80%</option>
                                <option value="70">70%</option>
                                <option value="60">60%</option>
                                <option value="50">50%</option>
                                <option value="40">40%</option>
                                <option value="30">30%</option>
                                <option value="20">20%</option>
                                <option value="10">10%</option>
                            </select>
                        </div>
                    </form>
                    <form class="form-inline" style="margin-top: 5px">
                        <div class="form-group">
                            <label for="auto2">CPU threshold shrinking worker pool:</label>
                            <select class="form-control" id="auto2" name="cpu-shrink" disabled>
                                <option value="5">5%</option>
                                <option value="10">10%</option>
                                <option value="15">15%</option>
                                <option value="20">20%</option>
                                <option value="25">25%</option>
                                <option value="30">30%</option>
                                <option value="35">35%</option>
                                <option value="40">40%</option>
                                <option value="45">45%</option>
                            </select>
                        </div>
                    </form>
                    <form class="form-inline" style="margin-top: 5px">
                        <div class="form-group">
                            <label for="auto3">Ratio to expand the worker pool:</label>
                            <select class="form-control" id="auto3" name="ratio-expand" disabled>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                            </select>
                        </div>
                    </form>
                    <form class="form-inline" style="margin-top: 5px">
                        <div class="form-group">
                            <label for="auto4">Ratio to shrink the worker pool:</label>
                            <select class="form-control" id="auto4" name="ratio-shrink" disabled>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                            </select>
                        </div>
                    </form>
                </div>
            </div>
            <form action="{{ url_for('delete_all_images') }}" method='post' onsubmit='return confirm("Are you sure?")'>
                <input style="margin-bottom: 50px" type="submit" class="btn btn-warning btn-block"
                       value="Delete all user images">
            </form>
        </div>
        <div class="col-lg-8">
            {% for i in range(cpu_stats|length) %}
                <div class="row" style="margin-bottom: 20px">
                    <div id="cpu_plot{{ i }}" class="col-sm-7" style="height: 196px"></div>
                    <div class="col-sm-5" style="padding: 5px">
                        <table class="table table-bordered table-hover table-responsive" style="margin: 0">
                            <tbody>
                            <tr class="info">
                                <td>ID</td>
                                <td> {{ instances[i].id }}</td>
                            </tr>
                            <tr class="warning">
                                <td>Name Tag</td>
                                <td> {{ instances[i].tags[0]['Value'] }}</td>
                            </tr>
                            <tr class="success">
                                <td>State</td>
                                <td>{{ instances[i].state['Name'] }}</td>
                            </tr>
                            <tr class="danger">
                                <td>Public IP Address</td>
                                <td>{{ instances[i].public_ip_address }}</td>
                            </tr>
                            <tr>
                                <td>CPU Utilization</td>
                                {% if cpu_stats[i]|length > 0 %}
                                    <td>{{ cpu_stats[i][-1][1] }}%</td>
                                {% else %}
                                    <td>counting</td>
                                {% endif %}
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
<script>

    var options = {
        series: {
            lines: {show: true},
            points: {show: true}
        }
    };

    for (var i = 0; i < {{ cpu_stats|length }}; i++) {
        $.plot($("#cpu_plot" + i), [{{ cpu_stats }}[i]], options);
    }

</script>
<script src="{{ url_for('static',filename='admin.js') }}"></script>
</body>
</html>