<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='flot/jquery.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='flot/jquery.flot.js') }}"></script>
    <style type="text/css">
        body {
            background: antiquewhite !important;
            padding: 30px;
        }
    </style>
</head>
<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">ECE1779 A1</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li><p class="navbar-text"><span class="glyphicon glyphicon-user"></span> {{ user_name }} </p></li>
            <li><a href="{{ url_for('logout') }}"><span class="glyphicon glyphicon-log-in"></span>Log out</a></li>
        </ul>
    </div>
</nav>

<div class="container-fluid" style="margin-top:50px">
    <div class="row">
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="radio">
                        <label><input type="radio" name="manual">Manually setting worker pool</label>
                    </div>
                </div>
                <div class="panel-body">
                    <label for="sel1">Number of worker to create:</label>
                    <form class="form-inline" role="form" action="{{ url_for('ec2_create') }}" method="post">
                        <div class="form-group">
                            <select class="form-control" id="sel1" name="num-new"
                                    style="width: 200px;margin-right: 5px">
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <input type="submit" class="btn btn-primary" value="Create">
                        </div>
                    </form>
                    <hr>
                    <label for="sel2">Number of worker to destroy(randomly):</label>
                    <form class="form-inline" role="form" action="{{ url_for('ec2_destroy') }}" method="post">
                        <div class="form-group">
                            <select class="form-control" id="sel2" name="num-del"
                                    style="width: 200px;margin-right: 5px">
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <input type="submit" class="btn btn-warning" value="Destroy">
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            {% for i in range(cpu_stats|length) %}
                <div id="cpu_plot{{ i }}" class="col-md-6" style="height:250px;"></div>
            {% endfor %}
        </div>
    </div>
</div>
<script>

    var options = {
        series: {
            lines: {show: true},
            points: {show: true}
        }
    };

    for (var i = 0; i < {{ cpu_stats|length }}; i++) {
        $.plot($("#cpu_plot" + i), [{{ cpu_stats }}[i]], options);
    }

</script>
</body>
</html>